.gradle
.classpath
lcov.info
src/main/resources/templates/index.html
!gradle/wrapper/gradle-wrapper.jar
*.log
node_modules/
aggregated-translations/
dist/
bin/
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
